.icon-daGou {
    width: 30px;
    height: 30px;
    /* border-radius: 100%; */
    position: relative;
    background: #4288E3;
    display: inline-block;
}

.icon-daGou::after {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 6px;
    height: 12px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 4px 4px 0;
    transform: rotateZ(45deg);
    content: "";
}